.lastBottomDivContent {
  display: flex;
  align-items: center;
  margin: 15px 0 0 0px;
}

.lastBottomDivContentName {
  margin-left: 13px;
}

.lastBottomDivfriendsOnline {
  width: 8px;
  height: 8px;
  background-color: rgb(18, 209, 18);
  border-radius: 50%;
  position: absolute;
  margin-top: 28px;
  left: 60px;
  border: 2px solid white;
}

.lastBottomDivContentImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.lastBottomDivHr {
  margin: 18px 0 18px 4px;
  width: 95%;
}

.ICON {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgb(224, 224, 224);
  border-radius: 50%;
}

.lastBottomDivContent {
  margin-bottom: 15px;
}
